aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
coloredlogs==15.0.1
humanfriendly==9.2
idna==2.10
multidict==5.1.0
pyfiglet==0.8.post1
pyreadline==2.1
requests==2.25.1
tabulate==0.8.9
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
